<ion-view title="{{hit.question}}">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-ios7-lightbulb" ng-click="respond()" ng-disabled="hit.responded">Respond</button>
  </ion-nav-buttons>
  <ion-content class="has-header background-pattern">

  <div class="list" ng-init="init()">
    <div class="item" ng-if="hit.responded" style="text-align: center; background-color: #ABABAB;"> 
      <h1>RESPONDED</h1>
    </div>
    <div class="item item-divider">
      Crowdsourcer
    </div>
    <div class="item item-icon-left">
      <i class="icon" ng-class="{'ion-ios7-person' : hit.crowdsourcer_type == 'Account', 'ion-iphone' : hit.crowdsourcer_type == 'Device'}"></i>
      {{hit.crowdsourcer}}
    </div>
    <div class="item item-divider">
      Published at
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-ios7-time"></i>
      {{hit.published_at | date:'yyyy-MM-dd, HH:mm:ss:Z' }}
    </div>
    <div class="item item-divider">
      Sensing task info
    </div>
    <div class="item item-text-wrap">
      <h2>Context data</h2>
      <p>
        <span ng-repeat="data_type in hit.context_data_types">
          {{camelCase2Human(data_type)}}{{$last ? '' : ', '}}
        </span>
      </p>
    </div>
    <div class="item item-text-wrap">
      <h2>Description</h2>
      <p>{{hit.description}}</p>
    </div>
    <div class="item item-divider">
      Responses
    </div>
    <a class="item item-icon-left item-icon-right" href="#/app/hits/{{hit.id}}/responses">
      <i class="icon ion-ios7-lightbulb"></i>
      Responded data
      <i class="icon ion-chevron-right"></i>
    </a>
  </div>

  </ion-content>
</ion-view>
