<ion-view title="{{hit.question}}">
  <ion-content class="has-header background-pattern">

  <div class="list" ng-init="init()">
    <div class="item item-divider">
      Crowdsourcer
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-ios7-person"></i>
      {{hit.crowdsourcer_name}}
      <p>{{hit.crowdsourcer_email}}</p>
    </div>
    <div class="item item-divider">
      Published at
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-ios7-time"></i>
      {{hit.published_at | date:'yyyy-MM-dd, HH:mm:ss:Z' }}
    </div>
    <div class="item item-divider">
      Sensing task info
    </div>
    <div class="item item-text-wrap">
      <h2>Context data</h2>
      <p>
        <span ng-repeat="data_type in hit.context_data_types">
          {{camelCase2Human(data_type)}}{{$last ? '' : ', '}}
        </span>
      </p>
    </div>
    <div class="item item-text-wrap">
      <h2>Description</h2>
      <p>{{hit.description}}</p>
    </div>
    <div class="item" ng-if="sensing_task.responded" style="text-align: center; background-color: #ABABAB;"> 
      <h1>RESPONDED</h1>
    </div>
    <div class="item" ng-if="!sensing_task.responded">
      <button class="button icon-left button-full button-dark">
        <i class="icon ion-ios7-paperplane"></i>
        Respond to sensing task
      </button>
    </div>
  </div>

  </ion-content>
</ion-view>
