<ion-view title="Respond to HIT">
  <ion-content class="has-header background-pattern">

  <div class="list" ng-init="init()">
    <div class="item item-text-wrap">
      <h1>{{hit.question}}</h1>
    </div>  
      
    <ion-radio ng-repeat="hitChoice in hit.choices"
               ng-value="hitChoice.id"
               ng-model="radioData.choiceId">
      {{ hitChoice.description }}
    </ion-radio>

    <div class="item" ng-if="!hit.responded">
      <button class="button icon-left button-full button-dark" ng-click="respond()" ng-disabled="radioData.choiceId == null">
        <i class="icon ion-ios7-paperplane"></i>
        Send you answer
      </button>
    </div>
  </div>

  </ion-content>
</ion-view>