<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="left-menu">
    <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">
        <img class="title-image" src="img/logo.png" />
      </h1>
    </ion-header-bar>
    
    <ion-footer-bar>
      <div class="tabs tabs-dark tabs-icon-only">
        <a class="tab-item">
          <i class="icon ion-ios7-person"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-gear-a"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-ios7-information"></i>
        </a>
      </div>
    </ion-footer-bar>

    <ion-content class="has-header">
      <ion-list>
        <div class="item item-divider">
          Personal 
        </div>
        <a nav-clear menu-close class="item item-icon-left item-icon-right" href="#/app/dashboard">
          <i class="icon ion-ios7-home text-grey"></i>
          Dashboard
          <i class="icon ion-ios7-arrow-forward"></i>
        </a>
        <a nav-clear menu-close class="item item-icon-left item-icon-right" href="#/app/subscriptions">
          <i class="icon ion-ios7-cloud text-grey"></i>
          Subscriptions
          <i class="icon ion-ios7-arrow-forward"></i>
        </a>
        <a nav-clear menu-close class="item item-icon-left item-icon-right" href="#/app/sensing_tasks">
          <i class="icon ion-radio-waves text-grey"></i>
          Sensing tasks
          <i class="icon ion-ios7-arrow-forward"></i>
        </a>
        <a nav-clear menu-close class="item item-icon-left item-icon-right" href="#/app/privacy_control">
          <i class="icon ion-ios7-eye text-grey"></i>
          Privacy control
          <i class="icon ion-ios7-arrow-forward"></i>
        </a>        
        <div class="item item-divider">
          CrowdCloud 
        </div>
        <a nav-clear menu-close class="item item-icon-left item-icon-right" href="#/app/social_networks">
          <i class="icon ion-ios7-people text-grey"></i>
          Browse social networks
          <i class="icon ion-ios7-arrow-forward"></i>
        </a>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>