<ion-view title="New sensing task" ng-init="init()">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-paper-airplane" ng-click="publish()" ng-disabled="!taskValid()">Publish</button>
  </ion-nav-buttons>
  <ion-content class="has-header background-pattern">

  <div class="list">
    <div class="item item-divider">
      Task name
    </div>
    <label class="item item-input">
      <input type="text" ng-model="newTask.name" placeholder="Enter task name">
    </label>
    <div class="item item-divider">
      Description
    </div>
    <label class="item item-input">
      <textarea ng-model="newTask.description" placeholder="Describe purpose of sensing task" style="height: 80px;"></textarea>
    </label>
    <div class="item item-divider">
      Sensor readings
    </div>
    <ul class="list">

      <li class="item item-checkbox" ng-repeat="sensingDataType in sensingDataTypes">
         <label class="checkbox">
           <input type="checkbox" 
                  value="{{sensingDataType.id}}" 
                  ng-disabled="!sensingDataType.enabled"
                  ng-checked="newTask.sensing_data_type_ids.indexOf(sensingDataType.id) > -1"
                  ng-click="toggleSelection(sensingDataType.id)">
         </label>
         {{camelCase2Human(sensingDataType.name)}}
      </li>
    </ul>
  </div>

  </ion-content>
</ion-view>
