<ion-view title="Open calls">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header background-pattern">
    <div class="list" ng-init="init()">
      <a ng-repeat="open_call in open_calls" class="item item-icon-left item-icon-right" href="#/app/open_calls/{{open_call.id}}">
        <i class="icon ion-ios7-bell"></i>
        {{open_call.name}}
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
