<ion-view title="Responses" ng-init="init()">
  <ion-content class="has-header background-pattern">
    <div class="list">
      <a ng-repeat="sensingTaskResponse in sensingTaskResponses" class="item item-icon-left item-icon-right" href="#/app/sensing_tasks/{{taskId}}/responses/{{sensingTaskResponse.id}}">
        <i class="icon ion-radio-waves"></i>
        <h2>Device: {{sensingTaskResponse.device_uuid}}</h2>
        <p>
          {{sensingTaskResponse.created_at | date:'yyyy-MM-dd, HH:mm:ss:Z' }}
        </p>
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
    <ion-infinite-scroll
      ng-if="dataToLoad"
      icon="ion-loading-c"
      on-infinite="getNextPage()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>