<ion-view title="{{sensing_task.name}}" ng-init="init()">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-radio-waves" ng-click="respond()" ng-disabled="sensing_task.responded">Respond</button>
  </ion-nav-buttons>
  <ion-content class="has-header background-pattern">

  <div class="list">
    <div class="item" ng-if="sensing_task.responded" style="text-align: center; background-color: #ABABAB;"> 
      <h1>RESPONDED</h1>
    </div>  
    <div class="item item-divider">
      Crowdsourcer
    </div>
    <div class="item item-icon-left">
      <i class="icon" ng-class="{'ion-ios7-person' : sensing_task.crowdsourcer_type == 'Account', 'ion-iphone' : sensing_task.crowdsourcer_type == 'Device'}"></i>
      {{sensing_task.crowdsourcer}}
    </div>
    <div class="item item-divider">
      Published at
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-ios7-time"></i>
      {{sensing_task.published_at | date:'yyyy-MM-dd, HH:mm:ss:Z' }}
    </div>
    <div class="item item-divider">
      Sensing task info
    </div>
    <div class="item item-text-wrap">
      <h2>Requested data</h2>
      <p>
        <span ng-repeat="data_type in sensing_task.sensing_data_types">
          {{camelCase2Human(data_type)}}{{$last ? '' : ', '}}
        </span>
      </p>
    </div>
    <div class="item item-text-wrap">
      <h2>Description</h2>
      <p>{{sensing_task.description}}</p>
    </div>
    <div class="item item-divider">
      Responses
    </div>
    <a class="item item-icon-left item-icon-right" href="#/app/sensing_tasks/{{sensing_task.id}}/responses">
      <i class="icon ion-radio-waves"></i>
      Responded sensor data
      <i class="icon ion-chevron-right"></i>
    </a>
  </div>

  </ion-content>
</ion-view>
