<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.kth.crowdcloudworker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CrowdCloud Worker</name>
  <description>
        CrowdCloud client mobile application.
    </description>
  <author email="mrazovic@kth.se" href="https://github.com/pmrazovic">
      Petar Mrazovic
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="2000" />

  <feature name="Device">
      <param name="android-package" value="org.apache.cordova.Device" />
  </feature>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Geolocation">
      <param name="android-package" value="org.apache.cordova.GeoBroker" />
  </feature>
  <feature name="Accelerometer">
      <param name="android-package" value="org.apache.cordova.devicemotion.AccelListener" />
  </feature>
  <feature name="Compass">
      <param name="android-package" value="org.apache.cordova.CompassListener" />
  </feature>


</widget>