<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.kth.crowdcloudworker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CrowdCloud Worker</name>
  <description>
        CrowdCloud client mobile application.
    </description>
  <author email="mrazovic@kth.se" href="https://github.com/pmrazovic">
      Petar Mrazovic
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <preference name="com.urbanairship.production_app_key" value="Your production app key" />
  <preference name="com.urbanairship.production_app_secret" value="Your production app secret" />
  <preference name="com.urbanairship.development_app_key" value="XTkKjb-9TKa54_MTy3aqGQ" />
  <preference name="com.urbanairship.development_app_secret" value="uPS6gXMMQbejgzs-QmYreA" />
  <preference name="com.urbanairship.in_production" value="false" />
  <preference name="com.urbanairship.gcm_sender" value="1015862923184" />
  <preference name="com.urbanairship.enable_push_onlaunch" value="true" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>